{% extends "base.html" %}
{% block content %}
<h1>Kaikki kilpailut</h1>
{%if user_logged_in%} 
{% if user_logged_in.status == true %}
<p>
    <a href="/kilpailujarjestelma/lisaa_kilpailu" class="btn btn-success">Lisää kilpailu</a>
</p>
{% endif %}
{% endif %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Päivämäärä</th>
            <th>Kilpailun nimi</th>
            <th>Tasoluokitus</th>
            <th>Kilpailupaikka</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan pelit tähän -->
        {% for kilpailu in kilpailut%}
        <tr>
            <td>{{kilpailu.paivamaara}}</td>
            <td><a href="/kilpailujarjestelma/kilpailu/{{kilpailu.id}}">{{kilpailu.nimi}}</a></td>
            <td>{{kilpailu.tasoluokitus}}</td>
            <td>{{kilpailu.kilpailupaikka}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}