{% extends "base.html" %}
{% block content %}
  <h1>Kaikki kilpailut</h1>

  <p>
    <a href="/kilpailujarjestelma/lisaa_kilpailu" class="btn btn-success">Lisää kilpailu</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Päivämäärä</th>
        <th>Kilpailun nimi</th>
        <th>Tasoluokitus</th>
        <th>Kilpailupaikka</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      {% for kilpailu in kilpailut%}
      <tr>
        <td>{{kilpailu.paivamaara}}</td>
        <td><a href="/kilpailujarjestelma/kilpailu/{{kilpailu.id}}">{{kilpailu.nimi}}</a></td>
        <td>{{kilpailu.tasoluokitus}}</td>
        <td>{{kilpailu.kilpailupaikka}}</td>
        <th><a class="btn btn-default btn-sm" href="/kilpailujarjestelma/muokkaa_kilpailu">Muokkaa kilpailua</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}