{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>{{kayttaja.nimi}}</h1>
<!-- Painikkeet tähän -->
{% if user_logged_in %}
{% if user_logged_in.status == true %}
<form method="post" action="{{base_path}}/kayttaja/{{kayttaja.jasennumero}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}
{% endif %}
<!-- Tiedot tulee listana tähän -->
<ul>    
    <li><strong>Jäsennumero </strong> {{kayttaja.jasennumero}}</li>
</ul>    
    {% if kayttaja.status == true %}
    <ul><li><strong>Status </strong> <label class="label label-danger">ylläpitäjä</label></li></ul>
    {% else %}
    <ul><li><strong>Status </strong> <label class="label label-primary">omistaja</label></li></ul>
    {% endif %}

<h2>Osallistumiset:</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kilpailu</th>
            <th>Hevonen</th>
            <th>Ratsastaja</th>
            <th>Ratsastajan jäsennro</th>
            <th>Maksustatus</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for osallistuminen in osallistumiset %}
        <!-- Listataan pelit tähän -->
        <tr>
            <td><a href="{{base_path}}/kilpailu/{{osallistuminen.kilpailu}}">{{osallistuminen.kilpailu}}</a></td>
            <td><a href="{{base_path}}/hevonen/{{osallistuminen.hevonen}}">{{osallistuminen.hevonen}}</a></td>
            <td>{{osallistuminen.ratsastaja}}</td>
            <td>{{osallistuminen.ratsastajan_jasennumero}}</td>
            {% if osallistuminen.maksettu == false %}
            <td><label class="label label-danger">Ei maksettu</label></td>
            {% else %}
            <td><label class="label label-primary">Maksettu</label></td>
            {% endif %}
            <th><a class="btn btn-default btn-sm" href="/kilpailujarjestelma/muokkaa_osallistuminen">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Hevoset: </h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Rekisterinumero</th>
            <th>Kokoluokka</th>
        </tr>
    </thead>

    <tbody>
        {% for hevonen in hevoset%}
        <!-- Listataan pelit tähän -->
        <tr>
            <td><a href="/kilpailujarjestelma/hevonen/:hevonen_rekisterinumero">{{hevonen.nimi}}</a></td>
            <td>{{hevonen.rekisterinumero}}</td>
            <td>{{hevonen.kokoluokka}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}