{% extends "base.html" %}
{% block content %}
  <h1>Hevoset</h1>

  <p>
    <a href="{{base_path}}/lisaa_hevonen" class="btn btn-success">Lisää hevonen</a>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Rekisterinumero</th>
        <th>Kokoluokka</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for hevonen in hepat %}
      <tr>
        <td><a href="{{base_path}}/hevonen/{{hevonen.rekisterinumero}}">{{hevonen.nimi}}</a></td>
        <td>{{hevonen.rekisterinumero}}</td>
        <td>{{hevonen.kokoluokka}}</td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
{% endblock %}