{% extends "base.html" %}
{% block content %}
  <h1>Lisää osallistuminen</h1>

<form method="post" action="{{base_path}}/kilpailu">
    <div class="form-group">
      <label>Kilpailu</label>      
            <select>
  <option value="kilpailu">Helppo C</option>
</select>
    </div>
    <div class="form-group">
      <label>Hevonen</label>
      <select>
  <option value="hevonen">Rodmens</option>
</select>
    </div>
    <div class="form-group">
      <label>Ratsastaja</label>
      Ratsastajan nimi muodossa Etunimi Sukunimi
      <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label>Ratsastajan jäsennumero</label>
      Jäsenliiton jäsennumero
      <input type="text" class="form-control" value="">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-danger">Tallenna</button>
      <a href="{{base_path}}/osallistumiset" class="btn btn-primary">Peruuta</a>
      
    </div>

  </form>
{% endblock %}