{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa osallistumista</h1>

  <form method="post" action="{{base_path}}/osallistuminen">
    <div class="form-group">
      <label>Kilpailu</label>
      <input type="text" class="form-control" value="{{kilpailu.nimi}}">
    </div>
    <div class="form-group">
      <label>Hevonen</label>
      <input type="text" class="form-control" value="{{hevonen.nimi}}">
    </div>
    <div class="form-group">
      <label>Ratsastaja</label>
      <input type="text" class="form-control" value="{{osallistuminen.ratsastaja}}">
    </div>
    <div class="form-group">
      <label>Ratsastajan jäsennumero</label>
      <input type="text" class="form-control" value="{{osallistuminen.ratsastajan_jasennumero}}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-danger">Tallenna</button>
      <a href="{{base_path}}/osallistumiset" class="btn btn-primary">Peruuta</a>
      
    </div>

  </form>
{% endblock %}