{% extends "base.html" %}
{% block content %}
  <h1>Hevoset</h1>

  <p>
    <a href="/kilpailujarjestelma/lisaa_hevonen" class="btn btn-success">Lisää hevonen</a>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Rekisterinumero</th>
        <th>Omistaja</th>
        <th>Kokoluokka</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="/kilpailujarjestelma/hevonen">Rodmens</a></td>
        <td>428034327750002</td>
        <td><a href="/kilpailujarjestelma/kayttaja">Elina Lassila</a></td>
        <td>Hevonen</td>
      </tr>
    </tbody>
  </table>
{% endblock %}