{% extends "base.html" %}
{% block content %}
  <h1>Kaikki kilpailut</h1>

  <p>
    <a href="/kilpailujarjestelma/lisaa_kilpailu" class="btn btn-success">Lisää kilpailu</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Päivämäärä</th>
        <th>Kilpailun nimi</th>
        <th>Tasoluokitus</th>
        <th>Kilpailupaikka</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td>20.04.2017</td>
        <td><a href="/kilpailujarjestelma/kilpailu">Helppo C</a></td>
        <td>1. taso</td>
        <td>Hauska Ratsutalli</td>
        <th><a class="btn btn-default btn-sm" href="/kilpailujarjestelma/muokkaa_kilpailu">Muokkaa kilpailua</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}