{% extends "base.html" %}
{% block content %}
  <h1>Osallistuminen</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Kilpailu: </strong> <a href="/kilpailujarjestelma/kilpailu">Helppo C</a></li>
    <li><strong>Hevonen: </strong> <a href="/kilpailujarjestelma/hevonen">Rodmens</a></li>
    <li><strong>Ratsastaja: </strong> Elina Lassila</li>
    <li><strong>Ratsastajan jäsennumero: </strong> 28279949</li>
    <li><strong>Maksustatus: </strong> <label class="label label-danger">Ei maksettu</label></li>
  </ul>

{% endblock %}